<h1>About</h1>

<p>The objective of this project is to design model associations and build a basic web app that emulates some of the core features of <a href="https://www.eventbrite.com" target="_blank">Everbrite</a>.</p>

<p>Feel free to create a dummy account; users can create events and indicate whether they're attending other events. </p>

View source code <a href="https://github.com/Jberczel/private_events">here</a>.


